/* Common */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}

:root
{
    --zlnd-var-primary-bg:#FF6900;
    --zlnd-var-secondary-bg: #1A1A1A;
    --zlnd-var-accent-1: #FF0000;
    --zlnd-var-accent-2: #008000;
    --zlnd-var-details: #000000;
    --zlnd-var-bg: white;
}

.d-flex
{
    display: flex;
}

.container
{
    width: 60%;
    margin: auto;
}


/* Utilities */
a
{
    text-decoration: none;
    color: var(--zlnd-var-bg);
}

/* Typography */


/* Header */
header
{
    background-color: var(--zlnd-var-primary-bg);
    padding: 1rem 0;
    box-shadow: 2px 2px 1.5px #dedede;

    .logo
    {
    img
        {
            height: 1.5rem;
        }
    
    }

    .user-menu,
    .primary-nav
    {
        flex-grow: 1;
    }

    .user-menu
    {
        text-align: end;
    }

    .primary-nav
    {
        font-size: 14px;
    }

    i
    {
        color: var(--zlnd-var-bg);
    }
}

/* Main */
main
{
    padding: 5rem 0;

    .raw
    {
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    .picture-box
    {
        height: 20rem;
        position: relative;

        .heart
        {
            background-color: var(--zlnd-var-bg);
            width: 25px;
            text-align: center;
            font-size: 10px;
            padding: 0.5rem;
            color: var(--zlnd-var-details);
            position: absolute;
            top:0.4rem;
            left: 12.3rem;    
        }

       .heart:hover
       {
        color: var(--zlnd-var-accent-1);
       }
        .discount
        {
            background-color: var(--zlnd-var-accent-1);
            width: 35px;
            text-align: center;
            font-size: 10px;
            padding: 0.2rem;
            color: var(--zlnd-var-bg);
            position: absolute;
            top: 18rem;
        }

        .green
        {
            background-color: var(--zlnd-var-accent-2);
            width: 70px;
            text-align: center;
            font-size: 10px;
            padding: 0.2rem;
            color: var(--zlnd-var-bg);
            position: absolute;
            top: 18rem;
            left:2.3rem;
        }

       /* .card-image-hover
        {
            height: 20rem;
            position: absolute;
            display: none;
        }

        .card-image:hover .card-image-hover
        {
        display: inline-block;
        } */ 

     }

    .brand
    {
        font-size: 10px;
        margin-top: 0.5rem;
    }
        
    .product-name
    {
        font-weight: bold;
    }

    .price
    {
        font-size: 10px;

        .price-discounted
        {
            color: var(--zlnd-var-accent-1);
        }
        
        .price-normal
        {
            text-decoration: line-through;
        }
    }

    .card#card-6
    {
        .green
        {
            background-color: var(--zlnd-var-accent-2);
            width: 70px;
            text-align: center;
            font-size: 10px;
            padding: 0.2rem;
            color: var(--zlnd-var-bg);
            position: absolute;
            top: 18rem;
            left:0rem;
        }
    }


}

/* Footer */
footer
{
    background-color: var(--zlnd-var-secondary-bg);
    padding: 1rem 1rem;

    .footer-container
    {
        justify-content: space-between;
    }
    
    

    .footer-title
    {
        color: var(--zlnd-var-bg);
        font-size: 10px;
        font-weight: bold;
    }

    .secondary-nav
    {
        margin-top: 0.4rem;
        font-size: 8px;
        
    }

    .social
    {
        i
        {
            color: var(--zlnd-var-bg);
        }
    }
}